.card {
    position: fixed;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    bottom: 15px;
    max-width: 250px;
    height: fit-content;   
}

#lottie-container {
    margin-bottom: -5px;
}

@media (min-width: 100px) {
    .card {
        left: 5px;
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 300px) {
    .card {
        left: 10px;
        max-width: 35%;
        height: auto;
    }
}

@media (min-width: 568px) {
    .card {
        left: 25px;
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .card {
        left: 25px;
        max-width: 25%;
        height: auto;
    }
}

@media (min-width: 1000px) {
    .card {  
        left: 25px;
        max-width: 20%;
        height: auto;
    }
}

@media (min-width: 1500px) {
    .card {        
        left: 35px;
        max-width: 17%;
        height: auto;
    }
}

@media (min-width: 1700px) {
    .card {        
        left: 35px;
        max-width: 10%;
        height: auto;
    }
}
