body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.card {
    display: none;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0px #00000040;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    bottom: 25px;
    max-width: 250px;
    height: fit-content; 
    transition: height 0.3s; 
    z-index: 9999; 
}

.card:hover {
    height: auto; 
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999; 
    padding: 3px; 
    cursor: pointer;
    font-size: 20px; 
    /* background: red; */
    border-radius: 50%;
    line-height: 1;
    visibility: hidden; 
    transition: visibility 0.3s;
}

.card:hover .close {
    visibility: visible; 
}

#lottie-container {
    margin-bottom: -7px;
}

@media (min-width: 100px) {
    .card {
        left: 5px;
        max-width: 30%;
        height: fit-content;
    }
}

@media (min-width: 300px) {
    .card {
        left: 10px;
        max-width: 35%;
        height: fit-content;
    }
}

@media (min-width: 568px) {
    .card {
        left: 25px;
        max-width: 30%;
        height: fit-content;
    }
}

@media (min-width: 768px) {
    .card {
        left: 25px;
        max-width: 25%;
        height: fit-content;
    }
}

@media (min-width: 1000px) {
    .card {  
        left: 25px;
        max-width: 20%;
        height: fit-content;
    }
}

@media (min-width: 1500px) {
    .card {        
        left: 35px;
        max-width: 17%;
        height: fit-content;
    }
}

@media (min-width: 1700px) {
    .card {        
        left: 35px;
        max-width: 15%;
        height: fit-content;
    }
}
